Library/metadata/
Library/
Temp/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
AstarPathfindingProject.csproj
AstarPathfindingProjectEditor.csproj
PackageToolsEditor.csproj
.vs/Dunguon2/v15/.suo
.vs/Dunguon2/v15/Server/sqlite3/storage.ide
.vs/Dunguon2/v15/Server/sqlite3/storage.ide-shm
.vs/Dunguon2/v15/Server/sqlite3/storage.ide-wal
Assets/EasyTouchBundle/EasyTouch/Examples/4.X/_Medias/Materials/Trail.mat
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/AstarPathfindingProject.csproj.CoreCompileInputs.cache
obj/Debug/AstarPathfindingProject.csprojAssemblyReference.cache
obj/Debug/AstarPathfindingProjectEditor.csproj.CoreCompileInputs.cache
obj/Debug/AstarPathfindingProjectEditor.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/PackageToolsEditor.csproj.CoreCompileInputs.cache
obj/Debug/PackageToolsEditor.csprojAssemblyReference.cache
ProjectSettings/EditorBuildSettings.asset
